$signin-content-width: 1200px;
$signin-bg: #A6BDBB;
$signin-bg-mobile: #A6BDBB;
$signin-transition-time: 0.5s;
$signin-primary-color: #071b1b;
$signin-hover-color: #FFFFFF;
$signin-input-bg: #595959;
$nav-secondary-color: #ffffff;
$signin-heading-font-size-lg: 4rem;
$signin-heading-font-size-md: 3rem;
$signin-heading-font-size-sm: 2rem;
$signin-heading-font-size-xs: 1rem;
$font-weight-regular: 1rem;

.dashboard {
    &__account {
        background-color: #ffffff;
        border-radius: 2rem;
        margin: 2.5rem;
        padding-top: 0.22rem;
        padding-bottom: 0.22rem;
        &--message  {
            margin-left: 5%;
        }
        &--info {
            margin-left: 7%;
        }
        &--details {
            margin-left: 9%;
        }
    }
    &__tranferfunds {
        &--form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            min-height: 300px;
          }
        
          &--container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            min-height: 300px;
            margin-bottom: 10%;
          }
        
          &--heading {
            font-size: 48px;
            font-weight: $font-weight-regular;
          }
        
          &--row {
            width: 60%;
            display: flex;
            justify-content: center;
          }
        
          &--input {
            font-family: 'Lato', sans-serif;
            font-weight: $font-weight-regular;
            width: 20rem;
            height: 3rem;
            margin-bottom: 1.5rem;
            border: none;
            border-radius: 0.2rem;
            background-color: $nav-secondary-color;
            padding-left: 1rem;
            color: $signin-primary-color;
            display: flex;
            flex-direction: column;
        
            &::placeholder {
              color: $signin-primary-color;
            }
          }
        
          &--btn {
            width: 20rem;
            font-family: 'Lato', sans-serif;
            height: $signin-heading-font-size-md;
            margin-bottom: 1.5rem;
            border: none;
            border-radius: $signin-heading-font-size-md;
            background-color: $signin-primary-color;
            font-size: 0.75rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            color: $nav-secondary-color;
          }
        
          @media screen and (max-width: 1024) {
            &--heading {
              font-size: $signin-heading-font-size-md;
            }
        
            &--row {
              width: 90%;
            }
        
            &--input {
              width: 70%;
        
            }
        
            &--btn {
              width: 70%;
            }
          }
        
          @media screen and (max-width: 768px) {
            padding: $signin-heading-font-size-lg 0;
        
            &--container {
              margin-bottom: 40%;
            }
        
            &--heading {
              font-size: $signin-heading-font-size-sm;
            }
        
            &--form {
              padding: 5%;
            }
        
            &--row {
              width: 90%;
            }
        
            &--input {
              width: 70%;
        
            }
        
            &--btn {
              width: 70%;
            }
          }
        
          @media screen and (max-width: 420px) {
            padding: $signin-heading-font-size-md 0;
        
            &--container {
              margin-bottom: 15%;
            }
        
            &--heading {
              font-size: $signin-heading-font-size-md;
              margin: 0 0 $signin-heading-font-size-lg 0;
            }
        
            &--form {
              padding: 5%;
            }
        
            &--row {
              width: 100%;
            }
        
            &--input {
              width: 80%;
        
            }
        
            &--btn {
              width: 80%;
            }
          }
    }
}